<!doctype html>
<html lang="en" ref-id="{{REQ_REF_ID}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QuickyPHP</title>

    <!-- Default CSS -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
</head>
<body>
<header>
    <nav class="navbar p-3 text-center navbar-expand-lg navbar-dark bg-dark">
        <a class="version" href="#">Current version: v{{APP_VERSION}}</a>
    </nav>
    <nav class="navbar p-3 text-center navbar-expand-lg bg-{{BANNER_PRIORITY}} {{SHOW_BANNER}}">
        <a class="error" href="#"><strong>{{ERROR_TITLE}}</strong> {{ERROR_MESSAGE}}</a>
    </nav>
</header>

<main class="py-5">
    <div class="container align-self-center align-middle">
        <div class="row align-items-md-stretch">
            <div class="col-md-6 sub-seq">
                <div class="h-100 p-5 text-white bg-dark">
                    <h2><i class="fa fa-rocket"></i>&nbsp;Quick Start</h2>
                    <p>Welcome, stranger! Are you ready to build your own paradise with all the cool benefits we offer? Perfetto, we can't wait to watch your creature grow - I think I'm confusing something there... Anyway, here you go. Do not hestitate to contact us in case of emergency.</p>
                    <a href="https://quickyphp.de/docs/#doc-create-app" class="btn btn-outline-light" type="button">Read more <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 sub-seq">
                <div class="h-100 p-5 text-white bg-dark">
                    <h2><i class="fa-brands fa-github"></i>&nbsp;Contribution</h2>
                    <p>Every good product needs time - like good cake. Since many bugs creep in at the beginning, we are continuously working on improving the framework. Here you can follow all changes in real time. By the way, you can also report problems there.</p>
                    <a href="https://github.com/david-prv/QuickyPHP/blob/main/CONTRIBUTING.md" class="btn btn-outline-light" type="button">Read more <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="row align-items-md-stretch">
            <div class="col-md-6 sub-seq">
                <div class="h-100 p-5 text-white bg-dark">
                    <h2><i class="fa fa-book-open"></i>&nbsp;Documentation</h2>
                    <p>You want to learn how to use QuickyPHP? Little insider tip: We have written a documentation; especially for you! There you will learn all the components and advantages of the framework and how to use them. After that, you will be a real professional!</p>
                    <a href="https://quickyphp.de/docs/" class="btn btn-outline-light" type="button">Read more <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 sub-seq">
                <div class="h-100 p-5 text-white bg-dark">
                    <h2><i class="fa-solid fa-heart"></i>&nbsp;Support</h2>
                    <p>To support the project it is not even necessary to participate in the programming. It is enough to give us constructive feedback or tell your Hackerman friends about it. If you particularly like it, you can also buy us a coffee. </p>
                    <a href="https://github.com/david-prv/QuickyPHP/tree/main#support" class="btn btn-outline-light" type="button">Read more <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>
