<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <title>Default Page</title>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <!-- Inline Style -->
    <style>
        body {
            background: #ffffff;
            font: 13px Helvetica, sans-serif;
            color: gray;
        }

        h1 {
            font-weight: normal;
        }

        .time {
            margin: auto;
            width: 50%;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<!-- Text -->
<div class="time">
    <h1><i class="fas fa-stopwatch"></i> took %P_MS%ms</h1>
</div>
</body>
</html>
