<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <title>Default Page</title>

    <!-- Inline Style -->
    <style>
        body {
            background:#ffffff;
            font: 13px Helvetica, sans-serif;
            color: gray;
        }
        h1 {
            font-weight: normal;
        }
    </style>
</head>
<body>
    <!-- Text -->
    <div style="margin: auto; width: 50%; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
        <h1>took %P_MS%ms</h1>
    </div>
</body>
</html>
